@model _01_Entities.Question
@{
    ViewBag.Title = "QuestionAdd";
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

<section class="content-header">
    @if (Model.Id != 0)
    {
        <h1>
            Konu Değerlendirme Sınavı Soru Güncelle.
            <small>Soru Güncellenir.</small>
        </h1>
    }
    else
    {
        <h1>
           Konu Değerlendirme Sınavı Soru Oluştur.
            <small>Soru Eklenir.</small>
        </h1>
    }

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("QuestionAdd", "Assessment", FormMethod.Post))
    {
        <div class="form-group">
            <label>Sınav Konusu</label>
            <select name="SubjectID" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                @foreach (var item in (SelectList)ViewBag.selectSubject)
                {
                    <option selected="selected" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="editor1">Soru İçeriği</label>
            <textarea id="editor1" name="Text" rows="10" cols="80" style="visibility: hidden; display: none;">
                @Model.Text
            </textarea>
            <div id="cke_editor1" class="cke_1 cke cke_reset cke_chrome cke_editor_editor1 cke_ltr cke_browser_webkit" dir="ltr" lang="tr" role="application" aria-labelledby="cke_editor1_arialbl">
            </div>
        </div>

        if (Model.Id != 0)
        {

            <div class="form-group">
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Vazgeç</button>
                    <button type="submit" class="btn btn-info pull-right">Güncelle</button>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="box-footer">
                    <button type="submit" class="btn btn-default">Vazgeç</button>
                    <button type="submit" class="btn btn-info pull-right">Soruyu Oluştur</button>
                </div>
            </div>
        }
    }
</section>

