
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yeni Çalışan</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="well">
            <h1>Northwind Inc.</h1>
        </header>

        <section>
            <div class="row">
                <nav class="col-xs-12 col-sm-4 col-md-3">
                    <a href="/Employee" class="list-group-item">Çalışanlar</a>
                    <a href="/Product" class="list-group-item">Ürünler</a>
                    <a href="/Category" class="list-group-item">Kategoriler</a>
                </nav>

                <div class="col-md-12 col-sm-8 col-md-9" style="min-height:500px">
                    @* Değişiklik Yapılacak Kısım *@

                    <h2 class="text-center">Yeni Çalışan</h2>

                    <form action="/Employee/Add" method="post" class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Ad : </label>
                            <input class="form-control" type="text" name="firstName"/>
                        </div>

                        <div class="form-group">
                            <label>Soyad : </label>
                            <input class="form-control" type="text" name="lastName" />
                        </div>

                        <div class="form-group">
                            <label>Ünvan : </label>
                            <input class="form-control" type="text" name="title" />
                        </div>

                        <div class="form-group">
                            <label>Şehir : </label>
                            <input class="form-control" type="text" name="city" />
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>




                    </form>


                </div>
            </div>
        </section>
        <footer class="well">
            &copy; 2016 Northwind Inc. Management Panel
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>