@model Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategori Güncelle</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="well">
            <h1>Northwind Inc.</h1>
        </header>

        <section>
            <div class="row">
                <nav class="col-xs-12 col-sm-4 col-md-3">
                    <a href="/Employee" class="list-group-item">Çalışanlar</a>
                    <a href="/Product" class="list-group-item">Ürünler</a>
                    <a href="/Category" class="list-group-item">Kategoriler</a>
                </nav>

                <div class="col-md-12 col-sm-8 col-md-9" style="min-height:500px">
                    @* Değişiklik Yapılacak Kısım *@

                    <h2 class="text-center">Kategori Güncelle</h2>

                    <form action="/Category/Edit" method="post" class="col-md-8 col-md-offset-2">

                        <input  type="hidden" name="CategoryID" value="@Model.CategoryID">

                        <div class="form-group">
                            <label>Kategori Adı</label>
                            <input class="form-control" type="text" name="CategoryName" value="@Model.CategoryName" />
                        </div>

                        <div class="form-group">
                            <label>Açıklama</label>
                            <input class="form-control" type="text" name="Description" value="@Model.Description" />
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                            <a href="/Category/Index" class="btn btn-warning">İptal</a>
                        </div>


                    </form>


                </div>
            </div>
        </section>
        <footer class="well">
            &copy; 2016 Northwind Inc. Management Panel
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>